<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolFlix</title>
</head>
<body>
    
    <div id="root">
        
        <div class="search-film">
            <input  v-model="userSearch" type="text" @keyup.enter="search" placeholder="Inserisci titolo film o serie tv">
            <button v-if="this.userSearch.length > 0"  @click="search">Vai</button>
        </div>
    
        <div class="film-container">
            <ul v-for="movie in movies" class="list-film">
                <li> Titolo: {{ movie.title }}</li>
                <li> Titolo Originale: {{movie.original_title}}</li>
                <li> Lingua: 
                    <img v-if="movie.original_language == 'it'" src="img/it.png" alt="">
                    <img v-else-if="movie.original_language == 'en'" src="img/gb.png" alt="">
                    <img v-else src="img/aq.png" alt="">
                </li>
                <li> Voto: {{movie.vote_average}}</li>
            </ul>
        </div>

        <div class="series-container">
            <ul v-for="tv in series" class="list-series">
                <li> Titolo: {{ tv.title }}</li>
                <li> Titolo Originale: {{tv.original_title}}</li>
                <li> Lingua: 
                    <img v-if="tv.original_language == 'it'" src="img/it.png" alt="">
                    <img v-else-if="tv.original_language == 'en'" src="img/gb.png" alt="">
                    <img v-else src="img/aq.png" alt="">
                </li>
                <li> Voto: {{tv.vote_average}}</li>
            </ul>
        </div>

        

    </div>
    
    

    <script src="js/script.js"></script>
</body>
</html>